.form-container {
    width: 100%;
    height: 100%;
    padding: 105px;
    background: rgba(71, 68, 68, 0.005);
    border-radius: 2%;
    overflow: hidden;
    border: 1px rgba(255, 255, 255, 0.56) solid;
    backdrop-filter: blur(28.80px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;

  }
  
  .form-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
    height: 90%;
  }
  
  .header {
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    display: flex;
  }
  
  .header-title {
    width: 70%;
    opacity: 0.90;
    text-align: right;
    color: white;
    font-size: 60px;
    font-family: 'BarLev AAA';
    font-weight: 700;
    line-height: 73.92px;
    word-wrap: break-word;
  }
  
  .header-subtitle {
    text-align: right;
    color: white;
    font-size: 25px;
    font-family: 'Almoni Tzar ML v5 AAA';
    font-weight: 600;
    line-height: 33.65px;
    word-wrap: break-word;
  }
  
  .options {
    padding-right: 17%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14px;
    display: inline-flex;
  }
  
  .option {
    width: 122px;
    height: 126px;
    position: relative;
  }
  
  .option-inner {
    width: 114px;
    height: 50px;
    padding: 35px 6px;
    position: absolute;
    border-radius: 4px;
    overflow: hidden;
    border: 2px white solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
  }
  
  .option-text {
    text-align: center;
    color: white;
  }
  
  .option-background {
    width: 26px;
    height: 26px;
    padding: 1px;
    position: absolute;
    background: #666666;
    border-radius: 4px;
    overflow: hidden;
    border: 2px white solid;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
  }
  
  .details {
    width: 420px;
    justify-content: flex-end;
    align-items: center;
    display: inline-flex;
  }
  
  .detail {
    width: 205px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
  }
  
  .detail-box,.detail-text{
    width: 186px;
    height: 34px;
    padding: 2px 9px 2px 18px;
    border: 1px white solid;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    color: #D7D7D7;
    font-family: 'Almoni Tzar ML v5 AAA';
    font-size: 28px;
    background-color: transparent;

  }
  
  .detail-select {
    width: 100%;
    height: 100%;
    background: transparent;
    color: #D7D7D7;
    font-size: 28px;
    font-family: 'Almoni Tzar ML v5 AAA';
    font-weight: 300;
    line-height: 26.88px;
    border: none;
    outline: none;
    text-align: right;
  }
  
  
  
  .time-options {
    width: 383px;
    height: 29px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    display: inline-flex;
  }
  
  .time-option {
    padding: 0 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    padding-right: 6%;
  }
  
  .time-option.selected {
    color: white;
    font-size: 20px;
    font-family: 'Almoni Tzar ML v5 AAA';
    font-weight: 300;
    line-height: 26.88px;
    text-align: center;
  }
  
  .time-option.unselected {
    color: grey;
    font-size: 20px;
    font-family: 'Almoni Tzar ML v5 AAA';
    font-weight: 300;
    line-height: 26.88px;
    text-align: center;
  }
  
  .separator-bottom {
    width: 100%;
    height: 1.37px;
    border: 2px white solid;
    
  }
  
  .next-button {
    padding-left: 12px;
    padding-right: 6px;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 35px;
    border: 2px white solid;
    justify-content: flex-start;
    align-items: center;
    gap: 19px;
    display: inline-flex;
    margin-top: 20%;
  }
  
  .next-button img {
    width: 30.47px;
    height: 30.47px;
  }
  
  .next-button-text {
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: 'Almoni Tzar ML v5 AAA';
    font-weight: 400;
    line-height: 21.77px;
    word-wrap: break-word;
  
  }