.room-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 42.5%;
}

.room-title {
  opacity: 0.90;
  color: #59FFDA;
  font-size: 70.5px; /* 85% of 90px */
  font-family: 'BarLev AAA';
  font-weight: 400;
  word-wrap: break-word;
  padding-right: 13.8%; /* 85% of 8% */
  position: absolute;
  z-index: 4;
}

.room-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 37.4px; /* 85% of 44px */
  padding-right: 13.65%; /* 85% of 9% */
}

.circle-inner {
  z-index: 4;
  position: absolute;
  animation: rotation 10s infinite linear;
}

.circle-outer {
  padding-left: 53.55%; /* 85% of 63% */
  padding-top: 115.25%; /* 85% of 125% */
}

.room-image {
  width: 313.65px; /* 85% of 369px */
  height: 498.1px; /* 85% of 586px */
}

.room-details {
  position: relative;
  width: 361.25px; /* 85% of 425px */
  height: 619.65px; /* 85% of 729px */
}

.room-image-shadow {
  position: absolute;
  left: 0;
  top: 45.05px; /* 85% of 53px */
  width: 338.3px; /* 85% of 398px */
  height: 504.9px; /* 85% of 594px */
  box-shadow: 0px 0px 57.69462547302246px white; /* 85% of 67.87602996826172px */
}

.room-icons {
  position: absolute;
  left: 0.85px; /* 85% of 1px */
  top: 555.9px; /* 85% of 654px */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5.1px; /* 85% of 6px */
}

.icon {
  position: relative;
  width: 15.3px; /* 85% of 18px */
  height: 15.3px; /* 85% of 18px */
}

.icon-inner {
  position: absolute;
  left: 1.9px; /* 85% of 2.24px */
  top: 2.54px; /* 85% of 2.99px */
  width: 11.484px; /* 85% of 13.51px */
  height: 10.2085px; /* 85% of 12.01px */
}

.icon-outline {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 15.3px; /* 85% of 18px */
  height: 15.3px; /* 85% of 18px */
}

.room-artillery {
  position: absolute;
  left: 218.45px; /* 85% of 257px */
  top: 474.3px; /* 85% of 558px */
  width: 142.8px; /* 85% of 168px */
  height: 145.35px; /* 85% of 171px */
}

.artillery-background {
  position: absolute;
  left: 0px;
  top: 2.3715px; /* 85% of 2.79px */
  width: 141.0235px; /* 85% of 165.91px */
  height: 141.848px; /* 85% of 166.88px */
  background: #59FFDA;
  border-radius: 9999px;
  border: 24.8965px solid; /* 85% of 29.29px */
}

.artillery-foreground {
  position: absolute;
  left: 7.3865px; /* 85% of 8.69px */
  top: 7.735px; /* 85% of 9.10px */
  width: 126.072px; /* 85% of 148.32px */
  height: 125.6385px; /* 85% of 147.81px */
  background: black;
}

.artillery-line {
  position: absolute;
  left: 85.7905px; /* 85% of 100.93px */
  top: 90.355px; /* 85% of 106.30px */
  width: 43.435px; /* 85% of 51.10px */
  transform: rotate(-135deg);
  transform-origin: 0 0;
  border: 5.1px black solid; /* 85% of 6px */
}

.room-text {
  position: absolute;
  z-index: 5;
}

.room-label {
  position: absolute;
  left: 1.7px; /* 85% of 2px */
  top: 0px;
  width: 241.5445px; /* 85% of 284.17px */
  height: 79.9px; /* 85% of 94px */
  opacity: 0.90;
  font-size: 108.8px; /* 85% of 128px */
  font-family: 'BarLev AAA';
  font-weight: 400;
  line-height: 98.6935px; /* 85% of 116.11px */
  word-wrap: break-word;
}
